<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autohush.www.dah">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AutoHush"
        android:supportsRtl="true"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDeJ8y2SxsM1sNk_7R2Vl2ExXCyr4cp6uQ"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="AutoHush"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TimePickerPopup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <activity android:name=".LocationInfo"
            android:screenOrientation="portrait"
            android:label="Autohush"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".MapsActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".RelatedSearches"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <activity android:name=".ConfirmationPopup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme"></activity>

        <service android:name=".MyService"></service>
    </application>

</manifest>
